
:host {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  position: relative;
  padding-top: 18%;
  padding-left: 32px;
  padding-right: 32px;

  p{ text-align: justify;}
}