
<!-- Gets the localized content -->
<ng-container *wmContent="let msgs select 'home'">

  <ng-container [ngSwitch]="mode$ | async">

    <wm-background [image]="redFilter(msgs.background)" attachment="fixed" repeat="no-repeat" size="cover"></wm-background>

    <!-- Survey -->
    <section *ngSwitchCase="'survey'" fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="center center" wmAnimate="fadeInDown" speed="fast" gtag="survey">

      <!-- Question -->
      <h1 class="mat-display-1"><b>{{ msgs.survey?.question || 'Vuoi gustare le pizze classiche in versione integralmente vegetale?' }}</b></h1>

      <!-- Answer box -->
     <button mat-flat-button color="accent" (click)="find()">{{ msgs.survey?.yes || 'Sì certamente!' }}</button>

     <br>
     
      <!-- Pizza menu -->
      <p *ngFor="let pizza of msgs.survey?.menu" [wm-readme]="pizza"></p>

      <p class="mat-small"[wm-readme]="msgs.survey?.note">
        Pizze e prezzi indicati sono solo indicativi e rappresentativi del tipo di offerta.
      </p>

    </section>

    <!-- City Search -->
    <section *ngSwitchCase="'search'" fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="center center" wmAnimate="landing" speed="slow" gtag="search">

      <h1 class="mat-display-1"><b>{{ msgs.search?.title || 'Trova CoverPizza nella tua città' }}</b></h1>

      <!-- City search box -->
      <wm-searchbox [(city)]="search" (fail)="comingSoon()"></wm-searchbox>

      <p [wm-readme]="msgs.search?.pitch">
        Gusta il sapore della tradizione senza compromessi. Le nostre pizze usano solo ingredienti privi di derivati animale.
      </p>

    </section>

    <!-- We are coming soon -->
    <section *ngSwitchCase="'soon'" fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="center center" wmAnimate="fadeInUp" speed="fast" gtag="subscribe">      

      <h1 class="mat-display-1"><b>{{ msgs.comingSoon?.title || 'Ci Saremo Presto' }}</b></h1>

      <p [wm-readme]="msgs.comingSoon?.pitch">
        <i>CoverPizza</i> è una novità e non siamo ancora arrivati nella tua città ma ci saremo presto. Iscriviti alla nostra newsletter per rimanere aggiornato.
        Se sei un operatore professionale e ti interessa approfondire <a wmRedirect="contact">contattaci</a>.
      </p>

      <!-- Gets a copy of the search report results -->
      <ng-container *ngIf="report$ | async as report">

        <p>{{ msgs.comingSoon?.subscribe || 'Iscriviti alla newsletter per tenerti aggiornato' }}</p>

        <!-- Newsletter form -->
        <wm-newsletter [country]="report.country" [city]="report.city" [ip]="report.ip" (done)="thankYou()">
          {{ msgs.comingSoon?.submit || 'Iscrivimi' }}
        </wm-newsletter>

        <p>{{ msgs.comingSoon?.or || 'oppure' }}</p>

      </ng-container>

      <!-- Go to search -->
      <button mat-stroked-button color="accent" (click)="find()">{{ msgs.comingSoon?.restart || "Effettua un'altra ricerca" }}</button>

    </section>

    <!-- Thank you -->
    <section *ngSwitchCase="'thanks'" fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="center center" wmAnimate="fadeIn" speed="fast" gtag="thanks">

      <h1 class="mat-display-1"><b>{{ msgs.thanks?.title || 'Grazie' }}</b></h1>

      <p [wm-readme]="msgs.thanks?.pitch">
        <i>CoverPizza</i> è una community in creascita e siamo lieti che tu sia dei nostri.
      </p>

      <button mat-stroked-button color="accent" (click)="find()">{{ msgs.thanks?.restart || "Effettua un'altra ricerca" }}</button>

    </section>

    <!-- We are sorry -->
    <section *ngSwitchCase="'sorry'" fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="center center" wmAnimate="fadeInDown" speed="fast" gtag="sorry">

      <h1 class="mat-display-1"><b>{{ msgs.sorry?.title || 'Siamo spiacenti' }}</b></h1>

      <p [wm-readme]="msgs.sorry?.pitch">
        <i>CoverPizza</i> è al momento disponibile solo in Italia. Se sei un operatore professionale e ti interessa approfondire <a wmRedirect="contact">contattaci</a>.
      </p>

      <!-- Go to search -->
      <button mat-stroked-button color="accent" (click)="find()">{{ msgs.sorry?.search || "Cerca in Italia" }}</button>

    </section>

  </ng-container>