
<ng-container *wmContent="let msgs select 'navigator'">

  <!-- Updates the Title and the description meta-tag -->
  <header fxFlex="0 0 auto" [wmTitle]="msgs.title" [description]="msgs.description">

    <mat-toolbar>

      <!-- Background w/ shadow to fade while blending in -->
      <div class="background background-color" [@blendin]="!menuVisible && !(scrolled$ | async)"></div>

      <!-- Navigation bar (1st row) -->
      <mat-toolbar-row fxLayoutAlign="space-between center">

        <!-- Left pane -->
        <nav fxLayout="row" fxLayoutAlign="start center">

          <!-- Logo routing to home -->
          <div class="logo" routerLink=".">CoverPizza</div>
      
          <!-- Desktop navigation links -->
          <wm-navbar *ngIf="desktop && msgs.toolbar as toolbar" [menuItems]="signedIn ? toolbar.private : toolbar.public"></wm-navbar>
        
        </nav>

        <!-- Right pane -->
        <div fxLayout="row" fxLayoutAlign="end center">

          <!-- Mobile menu toggler -->
          <button mat-icon-button (click)="toggleMenu()" *ngIf="mobile">
            <wm-toggler toggler-style="menu" [toggled]="menuToggler"></wm-toggler>
          </button>

        </div>
      </mat-toolbar-row>

      <!-- Mobile menu (2nd row) -->
      <mat-toolbar-row auto *ngIf="mobile && msgs.menu as menus">
        
        <wm-menu [items]="signedIn ? menus.private : menus.public" [(toggler)]="menuToggler" (visible)="menuVisible = $event"></wm-menu>    
      
      </mat-toolbar-row>

    </mat-toolbar>

  </header>

  <!-- Viewport container with dynamic background -->
  <main fxFlex="1 1 auto" fxLayout="column" [ngStyle]="background.style$ | async">

    <!-- Router Outlet stretched to fit -->
    <div fxFlex="1 1 auto">

      <!-- The page goes here -->
      <router-outlet (deactivate)="actionbar$.clear(); background.clear()"></router-outlet>
    
    </div>
    
    <!-- Footer always on the bottom -->
    <footer fxFlex="0 0 auto"></footer>

    <!-- Feedback form activated on 'contact' action link  @see navigator-router-module -->
    <wm-feedback-dlg [disableClose]="true" wmActionLink="contact" (activate)="feedback.open($event)" #feedback></wm-feedback-dlg>

  </main>
  
</ng-container>