
:host {

  display: block;
  position: relative;

  .foreground {
    display: block;
    position: relative;
    width: 100%;
    min-height: 350px;
    box-sizing: border-box;
    padding: 5vw;
  }

  .wm-markdown { text-align: justify; }
}